* {
  margin: 10px;
  /* background-color: black; */
  box-sizing: border-box;
}


body {
  background-color: black;
  margin: 10px;
}

#home {
    margin: -1px -1px 0 -1px;
    padding-bottom: 2cm;
    background-color: #5f6caf;
}

header {
    font-size: 30px;
    color: #d8b4ff;
    float: left;
    padding-left: 2cm;
}

nav {
    float: right;
    padding-right: 1cm;
}

nav a button {
    color: rgb(200, 200, 200);
    background-color: #3d3149;
    margin: 10px;
    padding: 10px;
    border-radius: 1mm;
    font-size: 20px;
    text-decoration: none;
}

nav a button:hover {
    color: white;
    font-weight: 700;
    background-color: purple;
    text-decoration: underline;
}

div section {
  display: grid;
  place-items: center;
}


figure {
  float: left;
  width: 200px;
  background-color: transparent;
}

img {
  width: 200px;
}



#tmp,
#wgt,
#dst {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: auto auto;
  background-color: transparent;
}

#tmp figure,
#wgt figure,
#dst figure {
  grid-column: 1;
  grid-row: 1 / 3;
}

#tmp article,
#wgt article,
#dst article {
  grid-column: 2;
  grid-row: 1;
}

#tmp aside,
#wgt aside,
#dst aside {
  grid-column: 2;
  grid-row: 2;
}

figcaption {
    color: black;
    font-size: 17px;
    text-align: center;
    background-color: transparent;
}

fieldset button {
  font-size: 20px;
  border-radius: 40px;
  border: 1px solid transparent;
  background-color: lightgreen;
  padding: 0px 15px;
}

fieldset button:hover {
    cursor: pointer;
}

.b {
  border-top: solid 20px;
  border-radius: 10px;
  background-color: white;
  width: 600px;
  height: 400px;

  display: flex;
  margin: 25px 0px 25px 50px;
}


.temperature {
  border-top-color: green;
}

.weight {
  border-top-color: coral;
}

.distance {
  border-top-color: cyan;
}

legend {
    font-size: 30px;
    font-weight: 700;
}

#go-home {
    float: left;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background-color: cyan;
    position: fixed;
    left: 0;
    bottom: 40px;
}

#go-home a img {
    width: 30px;
}

footer {
    background-color: #ffcbfb;
    margin-top: 20px;
}





